
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
 --orange: hsl(127, 100%, 50%);
}

body {
  margin: 0;
  padding: 0;
  background-color: #a4b50a;
}


header {
  background-color: #1cc38b;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  margin-left: 1rem; 
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.navbar a:hover{
  color: #3f5d4d;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.login-form-container {
  display: none;
}

.home {
  padding: 2rem;
  text-align: center;
  background-color: #228866;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
  position: relative;
  z-index: 1; 
  border-radius: 10px;
  color: #dfd6d6; 
  padding: 1rem;
  z-index: 2;
  transform: translateY(44%);
}

h3 {
  font-size: 4rem;
  color: #f9f4f4;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 1rem;
  color: #f3f8f1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #d9d6d6;
  color: #57ef1b;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  z-index: 1;
}
.btn:hover{
  background-color: #3aae1d;
}

/* Controles de video */
.controls {
  display: flex;
  justify-content: center;
  margin-bottom: -24.5rem;
}


.vid-btn {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #252222;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vid-btn.active {
  background-color: #c51515;
}


.video-container {
  margin: 2rem 0;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}


#video-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

.banner::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.text-custom{
  color: #030303;
}

* {
  font-family: Open Sans;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #0de29b;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.footer-links a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-links a:hover{
  text-decoration: underline;
  color: rgb(0, 255, 98);
}


















































































